.group {
  background: #25262b;
  margin: 10px;
  padding: 10px;
  flex: 1 0 auto;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #b9bbbe;
  font-family: Arial;
}
